/* body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(13, 34, 34);
} */

body {
  /* background-color: lightblue; */
}

@media (min-width: 600px) {
  body {
      background-color: red;
  }
}

@media (max-width: 599px) {
  body {
      background-color: blue;
  }
}

#header-home {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  opacity: .8;
  height: 5rem;
  padding: 1rem;
}

#homepage {
  font-size: large;
  color: black;
}

h1#header-home {
  /* padding-top: 1em; */
  /* padding: auto; */
  font-size: 40px;
}

/* #categories-collection {
  width: 100%;
  column-count: 2;
  /* justify-content: space-evenly; */
/* } */ 

/* .category-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e9dfe0
} */

.category-image {
  justify-self: center;
  height: 14rem;
  width: 18rem;
}

button {
  position: relative;
  background-color: #131518;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: whitesmoke;
  font-size: 14px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #bedaf5 solid 1px;
  color: #bedaf5;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  opacity: .8;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.order {
  text-align: center;
  justify-content: center;
}

.cart-items {
  width: 100%;
  column-count: 5;
  padding: 0;
}

 
.item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-card {
  text-align: center;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.item-image {
  width: 260px;
  height: 200px;
  border-radius: 20px;
}

#checkout-img {
  width: 50px;
  height: 50px;
  border-radius: 1px;
}

.item-fullcard {
  display: flex;
  margin-left: 10%;
  width: 80%;
  align-items: center;
  padding: 10px; 
  justify-content: center;
}

.column {
  flex: 50%;
}

#search input[type=text] {
  justify-content: center;
  padding: 8px;
  /* margin-bottom: 3em; */
  font-size: 15px;
  border: 1px solid grey;
  float: center;
  display: block;
  margin: 0 auto 3em auto;
  width: 400px;
  background: #f1f1f1;
}

.review-form {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#createReviewButton {
  display: flex;  
  justify-content: center;  
  position: relative;
  background-color: #131518;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 20px;
  color: whitesmoke;
  font-size: 14px;
}

#log-in-form {
  font-family: "Roboto", sans-serif;
  margin: auto;
  margin-bottom: 20px;
  width: 150px;
  padding-top: 30px;
  min-height: 50vh;
}
  
#log-in-form .header {
  font-family: "Avenir Next", sans-serif;
  font-weight: normal;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
  
#log-in-form .ui.button {
  color: white;
  background-color: hsl(291, 27%, 80%);
  font-size: 17px;
}

.signin-button {
  width: 100px;
  height: 30px;
  background-color: rgb(110, 179, 206);;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: none;
  margin: 10px;
}
/*This should make them change their color when they are hovered*/
.signin-button:hover {
  background: #b6afb7;
  color: black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
  
#log-in-form .field label {
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}

.home-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.slogan {
  /* font-size: large; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#userAvatar {
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 10px;
}