body {
  margin: 0;
  font-family: monospace;
}

#header-home {
  display: flex;
  justify-content: center;
  background: #ffffff;
  opacity: .8;
  height: 2rem;
  padding: 1rem;
}

#categories-collection {
  margin: 2rem;
  display: grid;
  justify-content: space-evenly;
}

.category-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e9dfe0
}

.category-image {
  justify-self: center;
  height: 14rem;
  width: 18rem;
}


button {
  position: relative;
  background-color: #131518;
  border: none;
  border-radius: 5px;
  height: 1rem;
  width: max-content;
  color: whitesmoke;
  font-size: 12px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #bedaf5 solid 1px;
  color: #bedaf5;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  /* background: #515DA2; */
  opacity: .8;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.order {
  text-align: center;
  grid-area: o;
}

#order-list {
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "c c c c c c c c c o o o "
}

.menu {
  grid-area: c;
}

 
.grid-container {
  grid-area: c;
  margin: 2rem;
}

.grid-item {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 12rem;
  height: 10rem;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #e9dfe0

}