/* body {
  margin: 0;
  font-family: monospace;
  background-color: rgb(188, 247, 247);
} */

#header-home {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  background: #ffffff;
  opacity: .8;
  height: 5rem;
  padding: 1rem;
}

h1#header-home {
  /* padding-top: 1em; */
  /* padding: auto; */
  font-size: 40px;
}

#categories-collection {
  width: 100%;
  column-count: 2;
  /* justify-content: space-evenly; */
}

.category-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e9dfe0
}

.category-image {
  justify-self: center;
  height: 14rem;
  width: 18rem;
}


button {
  position: relative;
  background-color: #131518;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: whitesmoke;
  font-size: 12px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #bedaf5 solid 1px;
  color: #bedaf5;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  opacity: .8;
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.order {
  text-align: center;
}

.cart-items {
  width: 100%;
  column-count: 4;
  padding: 0;
}

 
.item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-card {
  text-align: center;
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.item-image {
  width: 260px;
  height: 200px;
  border-radius: 20px;
}

.item-fullcard {
  display: flex;
  margin-left: 10%;
  width: 80%;
  align-items: center;
  padding: 10px; 
  justify-content: center;
}

.column {
  flex: 50%;
}

#search input[type=text] {
  padding: 8px;
  margin-bottom: 3em;
  font-size: 15px;
  border: 1px solid grey;
  float: center;
  width: 20%;
  background: #f1f1f1;
  /* border-radius: 20px; */
}

.review-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.loginForm {
  width: 60%;
  justify-self: center;
  margin: 0 auto;
  padding: 2% 8%;
}

.loginForm > placeholder {
  text-align: center
}

.loginForm input {
  width: 100%;
  margin-top: 10px;
} 

#createReviewButton {
  display: flex;  
  justify-content: center;  
  position: relative;
  background-color: #131518;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 20px;
  color: whitesmoke;
  font-size: 12px;
}